.container{
    text-align: center;
    padding: 5%;
  background-color:#16a085;
}

.wrapper-box{

    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    height: 30%;
  background-color:#ecf0f1;
    padding: 3%;
    box-shadow:5 5 5 rgba(0,0,0,0.4)
}
.btn{
        height: 45px;
        width: 120px;
        background-color: brown;
        color: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        display: block;
}
.quote{
    font-size: 32px;
    font-weight: 600;
}

.author{
     margin-left: 50%;
     font-size: 25px;
}
.lnk{
    height: 45px;
    width: 120px;
    margin-top:15px;
   background-color:#2980b9;
   color: #fff;
   outline: none;
   border: none;
   cursor: pointer;
   display: block;
}